/* styles/global.css */
:root {
  --font-base: 'Segoe UI', sans-serif;
  --color-bg: #f9f6f2;
  --color-text: #333;
  --color-soft: #d8e2dc;
  --color-accent: #a2d2ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  background-color: var(--color-bg);
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}
